<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Profile Editor</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <h4 class="profile-select-label">Basic Info</h4>
                <div class="input-group" align="center">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        <input type="text" class="form-control" id="employer" placeholder="Employer">
                        <input type="text" class="form-control" id="location" placeholder="Location">
                        <input type="text" class="form-control" id="hometown" placeholder="Hometown">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="github" placeholder="Github Url">
                        <input type="text" class="form-control" id="stackoverflow" placeholder="StackOverFlow Url">
                        <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn Url">
                        <input type="text" class="form-control" id="facebook" placeholder="Facebook Profile Url">
                        <input type="text" class="form-control" id="intro" placeholder="Brief Intro">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 class="profile-select-label">Cat Picture</h4>
                <div class="horizontal-scroll" id="cat-image-select">
                    <div class="col-md-12">
                        <div class="row">
                            <img class="cat-select image-select" id="img-cat-2" src="/img/cat2.jpg" data-source="/img/cat2.jpg"/>
                            <img class="cat-select image-select" id="img-cat-4" src="/img/cat4.png" data-source="/img/cat4.jpg"/>
                            <img class="cat-select image-select" id="img-cat-6" src="/img/cat6.jpg" data-source="/img/cat6.jpg"/>
                            <img class="cat-select image-select" id="img-cat-8" src="/img/cat8.jpg" data-source="/img/cat8.jpg"/>
                            <img class="cat-select image-select" id="img-cat-10" src="/img/cat10.jpg" data-source="/img/cat10.jpg"/>
                            <img class="cat-select image-select" id="img-cat-12" src="/img/cat12.jpg" data-source="/img/cat12.jpg"/>
                            <img class="cat-select image-select" id="img-cat-14" src="/img/cat14.jpg" data-source="/img/cat14.jpg"/>
                        </div>
                        <div class="row">
                            <img class="cat-select image-select" id="img-cat-3" src="/img/cat3.jpg" data-source="/img/cat3.jpg"/>
                            <img class="cat-select image-select" id="img-cat-5" src="/img/cat5.jpg" data-source="/img/cat5.jpg"/>
                            <img class="cat-select image-select" id="img-cat-7" src="/img/cat7.jpg" data-source="/img/cat7.jpg"/>
                            <img class="cat-select image-select" id="img-cat-9" src="/img/cat9.jpg" data-source="/img/cat9.jpg"/>
                            <img class="cat-select image-select" id="img-cat-11" src="/img/cat11.jpg" data-source="/img/cat11.jpg"/>
                            <img class="cat-select image-select" id="img-cat-13" src="/img/cat13.jpg" data-source="/img/cat13.jpg"/>
                            <img class="cat-select image-select" id="img-cat-15" src="/img/cat15.jpg" data-source="/img/cat15.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="horizontal-scroll" id="bg-color-select"></div>
                    <h4 class="profile-select-label">Background Color</h4>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="color-select pull-left image-select" id="dark-turquoise" data-color="#00bcd4"></div>
                            <div class="color-select pull-left image-select" id="dark-slate-blue" data-color="#3f51b5"></div>
                            <div class="color-select pull-left image-select" id="dark-orchid" data-color="#9c27b0"></div>
                            <div class="color-select pull-left image-select" id="crimson" data-color="#e91e63"></div>
                            <div class="color-select pull-left image-select" id="chocolate" data-color="#db4437"></div>
                            <div class="color-select pull-left image-select" id="dark-orange" data-color="#ff9800"></div>
                            <div class="color-select pull-left image-select" id="light-green" data-color="#9afe66"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="profileSubmit">Submit</button>
            </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/img/cat1.jpg" alt="brand" id="logo-img">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/index">Home</a>
          </li>
          <li>
           <a href="/profile/{{user.id}}" id="profile-link">Profile</a>
          </li>

          {{#if user}}
          <li>
           <a href="/auth/logout" id="profile-link">Logout</a>
          </li>
          {{/if}}

        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="panel-comment-profile-img" id="my-profile-img" src="{{user.profileImgUrl}}">
            </button>
          </li>
        </ul>
      </div>
  </div>
</nav>

<div class="container p-t-md">
  <div class="col-md-3">
    <div class="panel panel-default panel-profile m-b-md">
      <div class="panel-heading" id="my-background-color" style="background-color: {{user.backgroundColor}}"></div>
      <div class="panel-body text-center">
        <a href="profile/{{user.id}}">
          <img
            class="panel-profile-img" src="{{user.profileImgUrl}}">
        </a>

        <h5 class="panel-title">
          <a class="text-inherit" href="profile/{{user.id}}">
            {{#if user.firstName}}
              {{user.firstName}} {{user.lastName}}
            {{else}}
              {{user.username}}
            {{/if}}</a>
        </h5>

        <p class="m-b-md">{{user.introMsg}}</p>
      </div>
    </div>

    <div class="panel panel-default m-b-md hidden-xs">
      <div class="panel-body">
        <h5 class="m-t-0">Berkeley Coding Camp</h5>
        <div data-grid="images" data-target-height="150">
          <img class="media-object" id="cohort-img" data-width="640" data-height="640" data-action="zoom" src="/img/learn.jpg">
        </div>
        <p><strong>UCB October 2017 Hybrid Cohort.</strong></p>
        <div id="faculty-list">
          <p>
            <a href="#">Jayson Phillips </a><i> - Instructor</i><br>
            <a href="#">Daniel Cuperman </a><i> - T.Assistant</i><br>
            <a href="#">George Yoo </a><i> - T.Assistant</i><br>
          </p>
        </div> 
        
        <p><a href="https://bootcampspot-v2.com/"><span class="bootcamp-link">BootcampSpot</span></a><br>
        <a href="http://ucb.bootcampcontent.com/UCB-Coding-Bootcamp/10-17-2017-UCB-Class-Repository-FSF-HYBRID"><span class="bootcamp-link">BootcampContent</span></a></p>
      </div>
    </div>

  </div>
  <div class="col-md-9">

    <ul class="list-group media-list media-list-stream">

      <li class="media list-group-item p-a">
        <div class="input-group">
          <input type="text" class="form-control" id="post-body" placeholder="Message">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" id="post-submit">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </li>

      {{#each hbPosts}}
      <li class="media list-group-item p-a">
        <a class="media-left" href="/profile/{{User.id}}">
          <img class="panel-post-profile-img" src="{{User.profileImgUrl}}">
        </a>
        <div class="media-body">
          <div class="media-heading">
            <h5>
              {{#if User.firstName}}
                {{User.firstName}} {{User.lastName}}
              {{else}}
                {{User.username}}
              {{/if}}
              <small class="pull-right text-muted">{{createdAt}}</small>
            </h5>
          </div>
          <p>
            {{body}}
          </p>
            
        <ul class="media-list m-b">
          {{#each Comments}}
          <li class="media">
            <a class="media-left" href="/profile/{{User.id}}">
              <img class="panel-comment-profile-img" src="{{User.profileImgUrl}}">
            </a>
            <div class="media-body">
                <h6>
                  {{#if User.firstName}}
                    {{User.firstName}} {{User.lastName}}
                  {{else}}
                    {{User.username}}
                  {{/if}}
                  <small class="pull-right text-muted">{{createdAt}}</small>
                </h6>
                <p>
                  {{body}}
                </p>
            </div>
          </li>
          {{/each}}
          <li class="media list-group-item p-a-2">
            <div class="input-group">
              <input type="text" class="form-control" id="post-{{id}}" data-postid="{{id}}" placeholder="Message">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default comment-submit" id="{{id}}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </li>
      {{/each}}
    </ul>
    
  </div>
</div>

<!-- Custom Script -->
<script src="/js/post.js" type="text/javascript"></script>
<script src="/js/profile-modal.js" type="text/javascript"></script>

<script type="text/javascript">
var userId;

$(document).ready(function() {

  $.ajax({
    url: "/auth/getuser",
    type: "GET"
  }).done(function(result) {
    console.log(result);
    userId = result.id;
    profileUrl = "/profile/" + userId;
    $("#profile-link").attr("href", profileUrl);
    $("#firstName").attr("value", result.firstName);
    $("#lastName").attr("value", result.lastName);
    $("#employer").attr("value", result.employer);
    $("#location").attr("value", result.location);
    $("#hometown").attr("value", result.hometown);
    $("#github").attr("value", result.GitHubUrl);
    $("#stackoverflow").attr("value", result.StackOverFlowUrl);
    $("#linkedin").attr("value", result.LinkedInUrl);
    $("#facebook").attr("value", result.FacebookUrl);
    $("#intro").attr("value", result.introMsg);
  });
});

</script>