<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/img/cat1.jpg" alt="brand" id="logo-img">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/index">Home</a>
          </li>
          <li>
            <a href="/profile/1">Profile</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          {{!-- <li >
            <a class="app-notifications" href="/index">
              <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            </a>
          </li> --}}
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="panel-comment-profile-img" id="my-profile-img" src="#">
            </button>
          </li>
        </ul>

        {{!-- <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="index.html">Home</a></li>
          <li><a href="profile/index.html">Profile</a></li>
          <li><a href="notifications/index.html">Notifications</a></li>
          <li><a href="docs/index.html">Docs</a></li>
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="login/index.html">Logout</a></li>
        </ul>

        <ul class="nav navbar-nav hidden">
          <li><a href="#" data-action="growl">Growl</a></li>
          <li><a href="login/index.html">Logout</a></li>
        </ul> --}}
      </div>
  </div>
</nav>

<div class="container p-t-md">
  <div class="col-md-3">

    <div class="panel panel-default m-b-md hidden-xs">
      <div class="panel-body">
        <h5 class="m-t-0">Berkeley Coding Camp</h5>
        <div data-grid="images" data-target-height="150">
          <img class="media-object" id="cohort-img" data-width="640" data-height="640" data-action="zoom" src="/img/learn.jpg">
        </div>
        <p><strong>UCB October 2017 Hybrid Cohort.</strong></p>
        <div id="faculty-list">
          <p>
            <a href="#">Jayson Phillips </a><i> - Instructor</i><br>
            <a href="#">Daniel Cuperman </a><i> - T.Assistant</i><br>
            <a href="#">George Yoo </a><i> - T.Assistant</i><br>
          </p>
        </div> 
        
        <p>Here is a main info section where our calendar (or at least upcoming classes/events) will go, plus any other pertinant information. Button below for adding new events (study groups, etc.)</p>
        <button class="btn btn-primary-outline btn-sm">Add an Event</button>
      </div>
    </div>

    {{!-- <div class="panel panel-default visible-md-block visible-lg-block">
      <div class="panel-body">
        <h5 class="m-t-0">Photos <small>· <a href="#">Edit</a></small></h5>
        <div data-grid="images" data-target-height="150">
          <div class="row photo-row">
            <div class="photo-grid">
              <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
            </div>

            <div class="photo-grid">
              <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
            </div>
          </div>
          

          <div class="photo-grid">
            <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
          </div>

          <div class="photo-grid">
            <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
          </div>

          <div class="photo-grid">
            <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
          </div>

          <div class="photo-grid">
            <img data-width="640" data-height="640" data-action="zoom" src="http://via.placeholder.com/117x118">
          </div>
        </div>
      </div>
    </div> --}}
  </div>
  <div class="col-md-9">

    <ul class="list-group media-list media-list-stream">

      <li class="media list-group-item p-a">
        <div class="input-group">
          <input type="text" class="form-control" id="post-body" placeholder="Message">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" id="post-submit">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </li>

      {{#each hbPosts}}
      <li class="media list-group-item p-a">
        <a class="media-left" href="/profile/{{User.id}}">
          <img class="panel-post-profile-img" src="{{User.profileImgUrl}}">
        </a>
        <div class="media-body">
          <div class="media-heading">
            <h5>{{User.firstName}} {{User.lastName}} {{User.username}} <small class="pull-right text-muted">{{createdAt}}</small></h5>
          </div>
          <p>
            {{body}}
          </p>
            
        <ul class="media-list m-b">
          {{#each Comments}}
          <li class="media">
            <a class="media-left" href="/profile/{{User.id}}">
              <img class="panel-comment-profile-img" src="{{User.profileImgUrl}}">
            </a>
            <div class="media-body">
                <h6>{{User.firstName}} {{User.lastName}} {{User.username}}<small class="pull-right text-muted">{{createdAt}}</small></h6>
                <p>
                  {{body}}
                </p>
            </div>
          </li>
          {{/each}}
          <li class="media list-group-item p-a-2">
            <div class="input-group">
              <input type="text" class="form-control" id="comment-body" data-postid="{{id}}" placeholder="Message">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="comment-submit">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </li>
      {{/each}}
    </ul>
    
  </div>
</div>

<!-- Custom Script -->
<script src="/js/post.js" type="text/javascript"></script>

<script type="text/javascript">
var userId;

$(document).ready(function() {
  if (!userId) {
    $.ajax({
      url: "/auth/getuser",
      type: "GET"
    }).done(function(result) {
      console.log(result);
      userId = result.id;
      $("#my-profile-img").attr("src", result.profileImgUrl);
    });
  }
});

</script>