<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Profile Editor</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <h4 class="profile-select-label">Basic Info</h4>
                <div class="input-group" align="center">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                        <input type="text" class="form-control" id="employer" placeholder="Employer">
                        <input type="text" class="form-control" id="location" placeholder="Location">
                        <input type="text" class="form-control" id="hometown" placeholder="Hometown">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="github" placeholder="Github Url">
                        <input type="text" class="form-control" id="stackoverflow" placeholder="StackOverFlow Url">
                        <input type="text" class="form-control" id="linkedin" placeholder="LinkedIn Url">
                        <input type="text" class="form-control" id="facebook" placeholder="Facebook Profile Url">
                        <input type="text" class="form-control" id="intro" placeholder="Brief Intro">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 class="profile-select-label">Cat Picture</h4>
                <div class="horizontal-scroll" id="cat-image-select">
                    <div class="col-md-12">
                        <div class="row">
                            <img class="cat-select image-select" id="img-cat-2" src="/img/cat2.jpg" data-source="/img/cat2.jpg"/>
                            <img class="cat-select image-select" id="img-cat-4" src="/img/cat4.png" data-source="/img/cat4.jpg"/>
                            <img class="cat-select image-select" id="img-cat-6" src="/img/cat6.jpg" data-source="/img/cat6.jpg"/>
                            <img class="cat-select image-select" id="img-cat-8" src="/img/cat8.jpg" data-source="/img/cat8.jpg"/>
                            <img class="cat-select image-select" id="img-cat-10" src="/img/cat10.jpg" data-source="/img/cat10.jpg"/>
                            <img class="cat-select image-select" id="img-cat-12" src="/img/cat12.jpg" data-source="/img/cat12.jpg"/>
                            <img class="cat-select image-select" id="img-cat-14" src="/img/cat14.jpg" data-source="/img/cat14.jpg"/>
                        </div>
                        <div class="row">
                            <img class="cat-select image-select" id="img-cat-3" src="/img/cat3.jpg" data-source="/img/cat3.jpg"/>
                            <img class="cat-select image-select" id="img-cat-5" src="/img/cat5.jpg" data-source="/img/cat5.jpg"/>
                            <img class="cat-select image-select" id="img-cat-7" src="/img/cat7.jpg" data-source="/img/cat7.jpg"/>
                            <img class="cat-select image-select" id="img-cat-9" src="/img/cat9.jpg" data-source="/img/cat9.jpg"/>
                            <img class="cat-select image-select" id="img-cat-11" src="/img/cat11.jpg" data-source="/img/cat11.jpg"/>
                            <img class="cat-select image-select" id="img-cat-13" src="/img/cat13.jpg" data-source="/img/cat13.jpg"/>
                            <img class="cat-select image-select" id="img-cat-15" src="/img/cat15.jpg" data-source="/img/cat15.jpg"/>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="horizontal-scroll" id="bg-color-select"></div>
                    <h4 class="profile-select-label">Background Color</h4>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="color-select pull-left image-select" id="dark-turquoise" data-color="#00bcd4"></div>
                            <div class="color-select pull-left image-select" id="dark-slate-blue" data-color="#3f51b5"></div>
                            <div class="color-select pull-left image-select" id="dark-orchid" data-color="#9c27b0"></div>
                            <div class="color-select pull-left image-select" id="crimson" data-color="#e91e63"></div>
                            <div class="color-select pull-left image-select" id="chocolate" data-color="#db4437"></div>
                            <div class="color-select pull-left image-select" id="dark-orange" data-color="#ff9800"></div>
                            <div class="color-select pull-left image-select" id="light-green" data-color="#9afe66"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="profileSubmit">Submit</button>
            </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/img/cat1.jpg" alt="brand" id="logo-img">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-main">

        <ul class="nav navbar-nav hidden-xs">
          <li class="active">
            <a href="/index">Home</a>
          </li>
          <li>
            <a href="#" id="profile-link">Profile</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right m-r-0 hidden-xs">
          <li>
            <button class="btn btn-default navbar-btn navbar-btn-avitar" data-toggle="popover">
              <img class="panel-comment-profile-img" id="my-profile-img" src="#">
            </button>
          </li>
        </ul>
      </div>
  </div>
</nav>

<body style="background-color:rgb(222, 241, 234);"></body>
<div class="container-fluid">
    <div class="col-md-12">
      <div class="panel panel-default panel-profile m-b-sm" id="profile-box">
        <div class="panel-heading" id="profile-bg" style="background-color: {{profile.backgroundColor}}"></div>
        <div class="panel-body text-center">
          <a href="/profile/{{profile.id}}">
            
            <img class="panel-profile-img" src="{{profile.profileImgUrl}}">
          
          </a>
          <h3 class="panel-title">
            <a class="text-inherit" href="/profile/:{{profile.id}}">
              {{profile.username}}
            </a>
          </h3>
            <div id="social-panel">
              {{#if profile.GitHubUrl}}
                <a href="{{profile.GitHubUrl}}"><img class="social-img" src="/img/github.png"></a>
              {{/if}}
              {{#if profile.StackOverFlowUrl}}
                <a href="{{profile.StackOverFlowUrl}}"><img class="social-img" src="/img/stackoverflow.png"></a>
              {{/if}}
              {{#if profile.LinkedInUrl}}
                <a href="{{profile.LinkedInUrl}}"><img class="social-img" src="/img/linkedin.png"></a>
              {{/if}}
              {{#if profile.FacebookUrl}}
                <a href="{{profile.FacebookUrl}}"><img class="social-img" src="/img/facebook.png"></a>
              {{/if}}
            </div>
        </div>
    </div>
</div>


<div class="container p-t-md">
  <div class="col-md-3">

    <div class="panel panel-default visible-md-block visible-lg-block">
      <div class="panel-body">

        <h5 class="m-t-0">About <small>. </small>
          <button type="button" class="btn btn-primary btn-lg" id="modalButton">
            Edit
          </button></small></h5>
          <p class="m-b-md truncate-text">{{profile.introMsg}}</p>
          <hr>
        <ul class="list-unstyled list-spaced">
          <li><span class="text-muted glyphicon glyphicon-blackboard m-r"></span>Attended <a href="#">Berkeley Coding Camp</a>
          <li><span class="text-muted glyphicon glyphicon-folder-close m-r"></span>Works at <a href="#">{{profile.employer}}</a>
          <li><span class="text-muted glyphicon glyphicon-home m-r"></span>Lives in <a href="#">{{profile.location}}</a>
          <li><span class="text-muted glyphicon glyphicon-map-marker m-r"></span>From <a href="#">{{profile.hometown}}</a>
        </ul>
      </div>
    </div>

    {{!-- <div class="panel panel-default visible-md-block visible-lg-block">
      <div class="panel-body">
        <h5 class="m-t-0">Study Groups <small>· <class="m-y-0">16 Groups</p>
        <div data-grid="images" data-target-height="150">
          <div class="row photo-row">
            <div class="photo-grid">
              <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
            </div>

            <div class="photo-grid">
              <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
            </div>
          </div>
          

          <div class="photo-grid">
            <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
          </div>

          <div class="photo-grid">
            <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
          </div>

          <div class="photo-grid">
            <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
          </div>

          <div class="photo-grid">
            <img data-width="740" data-height="740" data-action="zoom" src="http://via.placeholder.com/117x118"><figcaption><center><small><a href="#">Group Name</a></small></center></figcaption>
          </div>
        </div>
      </div>
    </div> --}}
</div>
  

  <div class="col-md-9">

    <ul class="list-group media-list media-list-stream">

      <li class="media list-group-item p-a">
        <div class="input-group">
          <input type="text" class="form-control" id="post-body" placeholder="Message">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default" id="post-submit">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
      </li>
    
      {{#each posts}}
      <li class="media list-group-item p-a">
        <a class="media-left" href="/profile/{{User.id}}">
          <img class="panel-post-profile-img" src="{{User.profileImgUrl}}">
        </a>
        <div class="media-body">
          <div class="media-heading">
            <h5>{{User.username}}<small class="pull-right text-muted">{{createdAt}}</small></h5>
          </div>
          <p>
            {{body}}
          </p>
            
        <ul class="media-list m-b">
          {{#each Comments}}
          <li class="media">
            <a class="media-left" href="/profile/{{User.id}}">
              <img class="panel-comment-profile-img" src="{{User.profileImgUrl}}">
            </a>
            <div class="media-body">
                <h6>{{User.username}}<small class="pull-right text-muted">{{createdAt}}</small></h6>
                <p>
                  {{body}}
                </p>
            </div>
          </li>
          {{/each}}
          <li class="media list-group-item p-a-2">
            <div class="input-group">
              <input type="text" class="form-control" id="comment-body" data-postid="{{id}}" placeholder="Message">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="comment-submit">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        </div>
      </li>
      {{/each}}
    </ul>
</div>

<!-- Custom Script -->
<script src="/js/post.js" type="text/javascript"></script>
<script src="/js/profile-modal.js" type="text/javascript"></script>

<script type="text/javascript">
var userId;

$(document).ready(function() {
  $.ajax({
    url: "/auth/getuser",
    type: "GET"
  }).done(function(result) {
    console.log(result);
    userId = result.id;
    profileUrl = "/profile/" + userId;
    $("#my-profile-img").attr("src", result.profileImgUrl);
    $("#profile-link").attr("href", profileUrl);
    $("#firstName").attr("value", result.firstName);
    $("#lastName").attr("value", result.lastName);
    $("#employer").attr("value", result.employer);
    $("#location").attr("value", result.location);
    $("#hometown").attr("value", result.hometown);
    $("#github").attr("value", result.GitHubUrl);
    $("#stackoverflow").attr("value", result.StackOverFlowUrl);
    $("#linkedin").attr("value", result.LinkedInUrl);
    $("#facebook").attr("value", result.FacebookUrl);
    $("#intro").attr("value", result.introMsg);
  });
});

</script>